.gamefield {
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: gray;
}

.box {
    flex-shrink: 0;
}

.box__breakable {
    background-image: url('../assets/images/mansory-wall.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
}

.box__unbreakable {
    background-color: black;
}