.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.image {
    width: 200px;
    height: 200px;
    margin-top: 2rem;
}

td {
    padding-left: .5rem;
    padding-right: .5rem;
}

td a {
    text-decoration: none;
    color: black;
}

tr {
    background-color: azure;
}

@media only screen and (max-width: 1000px) {
    .cv {
        margin-top: 11rem;
    }
}