.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.image {
    width: 200px;
    height: 200px;
    margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
    .home {
        margin-top: 11rem;
    }
}

@media only screen and (max-width: 800px) {
    .home {
        max-width: 30rem;
    }
}

@media only screen and (max-width: 600px) {
    .home {
        max-width: 20rem;
    }
}