.linechart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

@media only screen and (max-width: 1000px) {
    .linechart {
        margin-top: 11rem;
    }
}