.linechart {
    margin: 9rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1000px) {
    .linechart {
        padding-top: 2rem;
    }
}