.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.fetched {
    background-color: rgb(220, 249, 0);
    padding: 0 0.2rem;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    padding-left: .5rem;
    padding-right: .5rem;
}

@media only screen and (max-width: 1000px) {
    .profile {
        margin-top: 11rem;
    }
}