.pages {
    height: 100%; /* 100% Full-height */
    width: 12rem; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 5rem; /* Stay at the top */
    left: 0;
    background-color: grey; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1rem; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    list-style: none;
}

.pages ul {
    list-style: none;
}

.pages li {
    padding-bottom: 1rem;
}

.pages a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}